<!DOCTYPE html>
<html lang="es">
<head>

    <title>Centro Meteorológico</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>

    {# Tailwind #}
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    {# Favicon support #}
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "/apple-touch-icon.png"%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "/favicon-32x32.png"%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "/site.webmanifest" %}">

    {% block head %} {% endblock %}

</head>
<body class="container mx-auto mb-5 bg-gray-50">


{# NavBar #}
{% block navbar %} {% endblock %}

{# Contenido #}
{% block content %}
{% endblock %}



{% block footer %} {% endblock %}

</body>
</html>