{% extends "base_menu.html" %}
{% load tailwind_filters %}
{% block content %}
  <form action="" method="post">
    {% csrf_token %}
{#    <table>#}
{#    {{ form.as_table }}#}
{#    </table>#}
      {{ form|crispy }}
    {# boton Summit#}
    <input class="border border-blue-500 bg-blue-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-blue-600 focus:outline-none focus:shadow-outline" type="submit" onclick="window.location='{% url 'climaApp:tarjeta_list' %}' ; return false;" value="Enviar">
    {# boton Cancel#}
    <input class="border border-red-500 bg-red-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-red-600 focus:outline-none focus:shadow-outline" type="submit" onclick="window.location='{% url 'climaApp:tarjeta_list' %}' ; return false;" value="Cancelar">
  </form>
{% endblock %}