{% extends "base_menu.html" %}
{% block content %}
<h1 class = "text-3xl m-8">Mis tarjetas</h1>
<p>
{% if tarjeta_list %}

  {% for tarjeta in tarjeta_list %}
      <div>
        <h3>{{ tarjeta.nombre }}</h3>
        <p>Ciudad: {{ tarjeta.ciudad }}
            {# Link Editar Trajeta #}
        (<a class="text-purple-500 no-underline hover:underline"href="{% url 'climaApp:tarjeta_update' tarjeta.id %}">Edit</a> |
        <a class="text-red-500 no-underline hover:underline"href="{% url 'climaApp:tarjeta_delete' tarjeta.id %}">Delete</a>)
        </p>
      </div>

  {% endfor %}

{% else %}

    <p> ¡Aún no tienes tarjetas! 😢</p>

{% endif %}

</p>

<p>
<a class="text-purple-500 no-underline hover:underline"href="{% url 'climaApp:main' %}">Regresar a Mi Centro Meteorologico</a> |
<a class="text-green-500 no-underline hover:underline"href="{% url 'climaApp:tarjeta_create' %}">Agregar tarjeta</a> |
{% if user.is_authenticated %}
<a href="{% url 'logout' %}?next={% url 'climaApp:main' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}?next={% url 'climaApp:main' %}">Login</a>
{% endif %}
</p>
{% endblock %}
