{% extends "base_menu.html" %}
{% load tailwind_filters %}
{% block content %}
  <form class="mx-20" action="" method="post" id="tarjetaForm" data-cities-url="{% url 'climaApp:ajax_load_cities' %}" novalidate>
    {% csrf_token %}
{#    <table>#}
{#    {{ form.as_table }}#}
{#    </table>#}
      {{ form|crispy }}
    {# boton Cancel#}
    <input class="border border-red-500 bg-red-500 text-white rounded-md px-4 py-2 m-2 hover:bg-red-600 focus:outline-none focus:shadow-outline" type="submit" onclick="window.location='{% url 'climaApp:tarjeta_list' %}' ; return false;" value="Cancelar">

    {# boton Summit#}
    <input class="border border-blue-500 bg-blue-500 text-white rounded-md px-4 py-2 m-2 hover:bg-blue-600 focus:outline-none focus:shadow-outline"  type="submit" value="Submit">
  </form>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
      // Se detectaran los cambios en el select drop list de "pais"
    $("[name='pais']").change(function () {
      var url = $("#tarjetaForm").attr("data-cities-url");  // get the url of the `load_cities` view
      var paisId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'pais': paisId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("[name='ciudad']").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>

{% endblock %}